<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h2>Welcome to the home page!!</h2>
        <button id="logOut-btn">LOG out</button>
    </div>
</body>
<script>
    const logout = document.getElementById('logOut-btn');
    logout.addEventListener('click', async() => {
        try{
            const response = await fetch("/api/auth/logout", {
                method: 'POST',
            });
            if(response){
                window.location.href = '/api/auth/logout';
            }
        }catch(err){
            console.log("An error occured during logout",err);
        }
    })
</script>
</html>